@import url(http://fonts.googleapis.com/css?family=Share);

body{
    font-family: 'Share', cursive;
    font-size: 15px;
    background-image:url('../img/lightpaperfibers.png');
}

p{
  text-align: center;
}

h1 {
  text-align: center;
}

input {
  font-family: inherit;
  font-size: inherit;
}
.widget {
  border: 1px black solid;
  border-radius: 5px;
}

#container{
  align: center;
  display: table;
  margin-right: auto; margin-left: auto;
  background-color: #fff;
}

.inputBox {
  width: 350px;
  border-radius: 5px;
  border: 1px black solid;
  margin: 3px;
  height: 30px;
}

.editBox {
  width: 320px;
  border-radius: 5px;
  border: 1px black solid;
  margin: 3px;
  height: 30px;
}

.button {
  display: inline-block;
  border: 1px black solid;
  border-radius: 6px;
  margin: 3px;
  height: 15px;
  width: 15px;
  text-align: center;
  margin: 3px;
  padding: 3px;
}

.ideaCollection {
  display: inline-block;
}

ul{
padding: 0px;
}

li {
  border: 1px black solid;
  border-radius: 6px;
  margin: 3px;
  padding: 2px;
  list-style: none;
  height: 35px;
}
.title{
  display: inline-block;
}
.destroy {
  display: inline-block;
  float: right;
  valign: middle;
  text-align: center;
  height: 15px;
  width: 15px;
  border: 1px black solid;
  border-radius: 4px;
}