<html>
<head>
  <title>Unpopular Ideas</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="js/jquery.js" type="text/javascript"></script>
  <script src="js/underscore_dev.js" type="text/javascript"></script>
  <script src="js/backbone.js" type="text/javascript"></script>
  <script type="text/javascript" src='js/backbone_dual_store.js'></script>
  <script type="text/javascript" src='js/app.js'></script>
</head>
<body>
<header></header>
<section id="home"></section>
<nav></nav>
<footer></footer>
<script type="text/template">
  <form class="gpsControls">
      <input class="input" id="sendName" name="name" type="text" placeholder="name" value='<%= name %>'>
      <br>
      <input class="input" id="lat" name="lat" type="text" placeholder="Waiting for longitude data..." value='<%= lat %>'>
      <br>
      <input class="input" id="lng" name="lng" type="text" placeholder="Waiting for latitude data..." value='<%= lng %>'>
      <br>
      <a href="#" class="btn" id="send">Send</a>
  </form>
</script>
</body>
</html>